#row {
	min-width: 230px;
	min-height: 200px;
	width: 70%;
	position: relative;
	margin:  0 auto;
	margin-top: 10%;
	cursor: default;
	box-shadow: 0 5px 10px #666;
	border-radius: 5px;
}

#col-md-3 {
	padding: 0px;
	background-color: #233142;
}

#col-md-9 {
	background-color: #f6f5f5;
	padding: 10px;
}

@media only screen and (max-width: 535px) {
	#row {
		width: 95%;
		padding: 1px;
	}
}

@media only screen and (max-width:275px) {

	#card_featured,
	#card_firstname,
	#card_lastname,
	#card_email {
		padding: 1px;
	}
}

#card {
	position: relative;
}

.res_table {
	margin: 1em 0;
	color: black;
	border-radius: 0.4em;
	overflow: hidden;
	width: 100%;
	border-color: #46637f
}

.res_table tr {
	border-color: black;
}

.res_table th {
	display: none;
}

.res_table td {
	display: block;
}

.res_table td:before {
	content: attr(data-th) ":  ";
	font-weight: bold;
	display: inline-block;
	width: 6.5em;
}

@media (min-width: 390px) {
	.res_table td:before {
		display: none;
	}
}

.res_table th,
.rwd-table td {
	text-align: left;
}

@media (min-width: 390px) {
  .res_table th, .res_table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
}

.res_table tr {
  border-color: #46637f;
}

.res_table th,
.res_table td:before {
	color: #007bff;
}
