body {
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 225, 1)),url('../image/general/tree.jpg');
	background-position: left, ;
}

#alert_message {
	text-align: -webkit-center;
}
