.movie-container {
	width: 95% !important;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	margin-top: 40px;
}

.movie-container:hover {
	box-shadow: 0 10px 6px -6px #777;
}

.youtube-media {
	width: 40px;
	border-radius: 6px;
	position: absolute;
	right: 10%;
}

.youtube-media:hover {
	background-color: #c8e6f5;
}

#vote{
	position: absolute;
	right:0;
	padding: 0;
	top:0;
}

.card-body {
	padding: 10px;
}
