.swiper-container {
	width: 460px;
	text-align: center;
}

.swiper-slide {
	width: 75% !important;
}

.left-0 {
	margin-left: 12.5%;
}

.left-1 {
	margin-left: 25%;
}

.card-border {
	border: 2px;
	border-radius: 15px 50px 30px;
	box-shadow: -1px 15px 30px -12px black;
}

.card-top-img {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg);
	background-size: cover;
	height: 300px;
	border-radius: 15px 50px 0px 0px;
}

.card-mid {
	background-color: white;
}

.title {
	font-size: 2em;
	position: relative;
	margin: 0 auto 1em;
	padding: 1em 1em .25em 1em;
	text-align: center;
	text-transform: uppercase;
}

.card-status {
	position: relative;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 700;
	margin-top: 5px;
}

.border-right{
	border-right:1px solid #BD7C2F;
}

.card-name {
	position: relative;
	font-size: 25px;
	color: black;
	font-weight: 700;
}

.card-description {
	position: relative;
	padding: 20px;
	margin-top: 5px;
	font-size: 14px;
	color: #9E9E9E;
}

.music-infos {
	margin-top: 10px;
	background-color: #233142;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 30px
}

.infos {
	color: white;
	font-weight: 600;
	margin-top: 10px;
	padding-bottom: 10px;
}

.resize {
	width: 460px;
	height: auto;
}

.text-line-height {
	line-height: 12px;
}

.modal {
  overflow-y:auto;
}


@media only screen and (max-width: 580px) {
	.hide {
		display: none !important;
	}
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-name{
	font-size: 12px;
	padding-bottom: 10px;
}


/*swipper*/

.head{
	color:#17394d;
}

.poll-title{
	font-size: 23px;
	font-weight: 500;
	right: 100px;
	font: 16px;
	padding: 10px;
}

.vote{
	position: absolute;
	right:0;
	padding: 0;
	top:0;
}

.author {
	text-align: center;
}

.polls-title-img {
	padding: 10px;
}

.poll-vote {
	margin: 0px auto;
}

.icon-style {
	padding-right: 20px;
}
.vote-rules{
	padding-left: 100px;
}

.movie-container {
	width: 95% !important;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	margin-top: 40px;
}

.movie-container:hover {
	box-shadow: 0 10px 6px -6px #777;
}

.youtube-media {
	width: 40px;
	border-radius: 6px;
	position: absolute;
	right: 10%;
}

.youtube-media:hover {
	background-color: #c8e6f5;
}

.card-body {
	padding: 10px;
}
