@media only screen and (max-width: 503px) {
	.polling{
		width: 95%;
	}
}

.swiper-container {
	max-width: 350px;
	text-align: center;
	border-radius: 15px 50px 30px;
	box-shadow: -1px 15px 30px -12px black;
}

.swiper-slide {
	height: 100%;
}

.card-border {
	border: 2px;
	border-radius: 15px 50px 30px;
	box-shadow: -1px 15px 30px -12px black;
}

.card-top-img {
	background-size: cover;
	max-height: 300px;
	border-radius: 15px 50px 0px 0px;
}

.card-author-img {
	width: 100%;
	border-radius: 15px 50px 0px 0px;
}

.card-mid {
	background-color: white;
}

.title {
	font-size: 2em;
	position: relative;
	margin: 0 auto 1em;
	padding: 1em 1em .25em 1em;
	text-align: center;
	text-transform: uppercase;
}

.card-status {
	position: relative;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 700;
	margin-top: 5px;
}

.border-right {
	border-right: 1px solid #BD7C2F;
}

.card-name {
	position: relative;
	font-size: 25px;
	color: black;
	font-weight: 700;
}

.card-description {
	position: relative;
	padding: 18px;
	margin-top: 5px;
	font-size: 14px;
	color: #9E9E9E;
	height: 180px;
	overflow: auto;
}

.music-infos {
	margin-top: 10px;
	background-color: #233142;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 30px
}

.infos {
	color: white;
	font-weight: 600;
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: small;
}

.resize {
	width: 460px;
	height: auto;
}

.text-line-height {
	line-height: 12px;
}

.modal {
	overflow-y: auto;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info-name {
	font-size: 12px;
	padding-bottom: 10px;
}

/*--end swipper--*/

.head {
	color: #17394d;
}

.poll-title {
	position: relative;
	left: 10px;
	font-size: 23px;
	font-weight: 500;
	right: 100px;
	font-size: 16px;
	padding: 10px;
}

.vote {
	position: absolute;
	right: -3%;
	top: -5px;
	padding-left: 21px;
	padding-right: 21px;
	background: white;
    z-index: 2;
	color: #00334e;
    border: 1px solid #00334e;
    border-radius: 50px;
    font: 16px "Margarine", sans-serif;
    transition: 0.2s ease-in-out;
	animation: pluse 1s infinite;
}

.vote:hover{
	animation: pluse-1 1s infinite;
	transform : translateY(-3px);
}

@keyframes pluse{
	0%{
		box-shadow:none;
	}

	30%{
		box-shadow: 0 0 1px 5px #145374;
	}

	60%{
		box-shadow: 0 0 1px 5px #145374, 0 0 1px 10px #5588a3;
	}

	100%{
		box-shadow: 0 0 1px 5px #145374, 0 0 1px 10px #5588a3, 0 0 1px 15px #e8e8e8;
	}

}

@keyframes pluse-1{
	0%{
		transform: rotate(0deg) translate3d(0, 0, 0);
		box-shadow:none;
	}

	30%{
		transform: rotate(4deg) translate3d(0, 0, 0);
		box-shadow: 0 0 1px 10px #145374;
	}

	60%{
		transform: rotate(-4deg) translate3d(0, 0, 0);
		box-shadow: 0 0 1px 10px #145374, 0 0 1px 20px #5588a3;
	}

	100%{
		transform: rotate(0deg) translate3d(0, 0, 0);
		box-shadow: 0 0 1px 10px #145374, 0 0 1px 20px #5588a3, 0 0 1px 30px #e8e8e8;
	}

}

.author {
	text-align: center;
}

.polls-title-img {
	padding: 10px;
}

.poll-vote {
	margin: 0px auto;
}

.icon-style {
	padding-right: 20px;
}

.vote-rules {
	width: 95%;
	padding-left: 18%;
}

.poll-describe {
	width: 75%;
	max-height: 190px;
	overflow: auto;
}

@media only screen and (max-width: 991px) {
	.poll-describe {
		height: 67px;
	}
}

.poll-describe::-webkit-scrollbar {
	-webkit-appearance: none;
}

.poll-describe::-webkit-scrollbar:vertical {
	width: 11px;
}

.poll-describe::-webkit-scrollbar:horizontal {
	height: 11px;
}

.poll-describe::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white;
	background-color: rgba(0, 0, 0, .5);
}

.movie-container {
	width: 95% !important;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	margin-top: 40px;
}

.movie-container:hover {
	box-shadow: 0 10px 6px -6px #777;
}

.youtube-media {
	width: 40px;
	border-radius: 6px;
	position: absolute;
	right: 10%;
}

.youtube-media:hover {
	background-color: #c8e6f5;
}

.card-body {
	padding: 10px;
}

.poll-box {
	width: 100%;
	margin: 0 auto;
}

@media only screen and (max-width: 580px) {
	.hide {
		display: none !important;
	}

	.phone-modal {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/* new*/

.success-box {
	text-align: center;
	max-width: 400px;
	-webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 7px 4px #777;
	margin: 0 auto;
}

.confrim-box {
	text-align: center;
	-webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 7px 4px #777;
	margin: 0 auto;
}

.color-btn {
	width: 60%;
	margin: 0 auto;
	border-color: #28a745;
	border: 2px solid #28a745;
	border-radius: 20px;
	padding: 6px 12px 6px 12px;
	margin-top: 15px;
	background: transparent;
	margin-bottom: 15px;
}

.success-btn {
	color: #28a745;
	border-color: #28a745;
	border: 2px solid #28a745;
}

.failure-btn {
	color: #F44336;
	border-color: #F44336;
	border: 2px solid #F44336;
}

.success-btn:hover {
	color: #fff;
	background-color: #28a745;
}

.failure-btn-btn:hover {
	color: #fff;
	background-color: #F44336;
}

.success-btn:hover {
	color: #fff;
	background-color: #28a745;
}

.success-h1 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	font: 36px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 10px;
}

.success-p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font: 14px;
	margin-bottom: 10px;
}

.success-span {
	margin-top: 10px;
	display: block;
	font-size: 10px;
	color: #ccc;
	margin: 0 auto;
}

.color-icon {
	position: relative;
	margin: 0 auto;
	margin-top: -50px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.green-icon {
	background: #28a745;
}

.red-icon {
	background: #F44336;
}

.green-tick {
	position: absolute;
	display: inline-block;
	right: 45%;
	bottom: 30%;
	margin-top: 16%;
	background: white;
	width: 40px;
	height: 20px;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
}

.green-tick::after {
	position: relative;
	content: '';
	display: block;
	width: 60px;
	height: 20px;
	left: 10px;
	background: white;
	-webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
}

.red-cross {
	position: absolute;
	display: inline-block;
	width: 15px;
	height: 90%;
}

.red-cross::before,
.red-cross::after {
	position: absolute;
	content: ' ';
	height: 90%;
	width: 15px;
	right: 50%;
	bottom: 0;
	background-color: white;
}

.red-cross::before {
	transform: rotate(45deg);
}

.red-cross::after {
	transform: rotate(-45deg);
}

.agree-btn {
	border-radius: 20px;
	background-color: #FF6666;
	color: white;
	padding: 7px 20px 7px 20px;
}

.youtube {
	position: absolute;
	top: 50%;
	right: 7%;
}

.login {
	position: absolute;
	right: 0;
	padding: 0;
	top: 0;
}
