.container {
	position: relative;
	text-align: center;
	color: white;
}

.top-left {
	position: absolute;
	top: 8px;
	left: 30px;
}

.bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
}

.recipe-name {
	font-size: 25px;
	font-family: Fresh Sans, Helvetica, Arial, sans-serif;
}

.recipe-name:hover span {
	display: none
}

.recipe-img{
	width:100%;
	height:100%;
}

.recipe-img:hover{
	box-shadow: 0 10px 6px -6px #777;
}

.recipe-name:hover:after {
	content: "-> More Info"
}

.button-round {
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	border:2px solid #3a474e;!important;
	padding: 0 20px;
	line-height: 32px;
    height: 38px;
}

.button-round:hover{
	border:2px solid #3a474e;!important;
}
