.progress {
    position: relative;
    font-size: 0.5em;
    max-height: 1em;
    margin-top: -1.75%;
}

#strength {
    width: 0%;
    text-align: left;
}

#register_form {
	margin-top: 10%;
	min-height: 100vh;
	max-width: 500px;
}



.sign-up-position {
	position: absolute;
	top:10px;
	left: 10px;
}
