@border-color: orange;
@border-bottom-color: #ccc;
@border-size: 5px;

/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

#content {
	max-width: 450px;
	margin: auto;
	margin-top: 9%;
}

#reset_password{
	position: relative;
	left: 15px;
}

#confirm_password,#password,#old_password{
	background-color: transparent;
	border-color: #007bff;
}

.resetPWD_content {
	height: 60vh;
}

.page {
	height: 100vh;
}
