{% extends 'base.html' %}

{% block extraCss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock extraCss %}

{% block title %} {{ 403 }} {% endblock title %}
{% block content %}
<div class="page">
	<div class="error">
		<h1 class="header">
			<a href="/" class="logo">
				<img src="../../static/image/general/Octocat_4.png" srcset="../../static/image/general/Octocat_4.png 2x" alt="Octocat">
			</a>
			-
			403
		</h1>
		<div class="content">
			<p>
				<strong>Can't allow you get in! <br> Detected 404 <br> That’s all we find ....? </strong>
			</p>
			<p>Take me back please</p>
			<hr>
			<p>
				<a href="/">Back to Home</a>
				<span>Or</span>
				<a href="javascript:;" id="js-history-back">Previous page</a>
			</p>
		</div>
		<script>
			var backButton = document.getElementById('js-history-back')
			backButton.onclick = function() {
				history.go(-1)
			}
		</script>
	</div>
</div>
{% endblock content %}
