{% extends 'base.html' %}
{% block content %}
<div style="min-height: 100vh;text-align:center">
	<h1 class="text-info" style="margin-top:20px">First pass the post voting</h1>
	<div style="max-width:60%; margin: 0 auto; margin-top:50px;">
		<img style="width:100%" src="../../static/image/First-Past-the-Post-FPTP.jpg">
	</div>
	<div class="container" style="max-width:500px;">
		<h2 class="text-dark" style="margin-top:30px;">How does first past the post voting work?</h2>
		<p class="text-muted" style="font-size:20px">
			Under this system, the you casts a single vote for the candidate that we listed. The candidate who receives the most votes is elected.<br><br>
			This is the most simplicity voting techniques, you only need to to choose their your preference<br>
		</p>
	</div>
</div>
{% endblock content %}
