body {
    background-image: url("../picture/back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    color: #fff;
}

.float-right {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

a.float-right:hover {
    color: #DDDDDD;
    border-color: #DDDDDD;
}

a.float-right {
    button2:active {
        color: #BBBBBB;
        border-color: #BBBBBB;
    }
}

@media all and (max-width:30em) {
    a.float-right {
        display: block;
        margin: 0.4em auto;
    }
}
