<p id="polls_description">You are able to add and delete Polls!</p>
<table id="poll_table" class="transparent">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Category</th>
			<th>Rank</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for poll in polls %}
		<tr id={{ poll.id }}>
			<td>{{poll.id}}</td>
			<td>{{poll.name}}</td>
			<td>{{categories[poll.category_id-1].name}}</td>
			<td>{{poll.rank}}</td>
			<td>
				<button type="button" class="btn btn-light" data-toggle="modal" data-target="#add_poll"><i class="fa fa-plus"></i></button>
				<button type="button" class="btn btn-light a_d_u" data-toggle="modal" data-target="#delete_poll"><i class="fa fa-minus"></i></button>
				<!-- <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-edit"></i></button> -->
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>