<!--User Admin Polls.html-->
<div class="row">
	<p id="polls_description" class="col-md-5">You are able to add and delete Polls!</p>
	<button type="button" class="btn btn-light col-xs-2 admin_add_button" data-toggle="modal" data-target="#add_poll"><i class="fa fa-plus"></i></button>
</div>
<table id="poll_table" class="transparent">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Category Id</th>
			<th>Rank</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for poll in polls %}
		<tr id=poll.{{ poll.id }}>
			<td>{{poll.id}}</td>
			<td>{{poll.name}}</td>
			<td>{{poll.category_id}}</td>
			<td>{{poll.rank}}</td>
			<td>
				<button type="button" id="poll{{poll.name|replace(" ","")}}add" class="btn btn-light" data-toggle="modal" data-target="#add_poll"><i class="fa fa-plus"></i></button>
				<button type="button" id="poll{{poll.name|replace(" ","")}}delete" class="btn btn-light a_d_u" data-toggle="modal" data-target="#delete_poll"><i class="fa fa-minus"></i></button>
				<!-- <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-edit"></i></button> -->
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="modal fade" id="add_poll" tabindex="-1" role="dialog" aria-labelledby="add_poll" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please add a new poll</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('user_admin.admin_add_poll') }}" enctype="multipart/form-data">
        	{{ poll_form.csrf_token(id="poll") }}
        	<div class="col form-group">
				{{ poll_form.poll_name.label() }}
				{% if poll_form.poll_name.errors %}
				{{ poll_form.poll_name(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in poll_form.poll_name.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ poll_form.poll_name(class="form-control") }}
				{% endif %}
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				{{ poll_form.rank.label() }}
				{% if poll_form.rank.errors %}
				{{ poll_form.rank(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in poll_form.rank.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ poll_form.rank(class="form-control") }}
				{% endif %}
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				{{ poll_form.category_poll.label() }}
				{% if poll_form.category_poll.errors %}
				{{ poll_form.category_poll(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in poll_form.category_poll.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ poll_form.category_poll(class="form-control") }}
				{% endif %}
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				{{ poll_form.picture.label() }}
				{{ poll_form.picture(class="form-control-file") }}
                {% if poll_form.picture.errors %}
                    {% for error in poll_form.picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				{{ poll_form.video.label() }}
				{% if poll_form.video.errors %}
				{{ poll_form.video(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in poll_form.video.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ poll_form.video(class="form-control") }}
				{% endif %}
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				{{ poll_form.description.label() }}
				{% if poll_form.description.errors %}
				{{ poll_form.description(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in poll_form.description.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ poll_form.description(class="form-control") }}
				{% endif %}
			</div> <!-- form-group end.// -->
			<div class="form-group">
				{{ poll_form.poll_submit(class="btn btn-primary btn-block") }}
			</div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete_poll" tabindex="-1" role="dialog" aria-labelledby="delete_poll" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
      </div>
      <div class="modal-body">
        Are you sure that you want to delete this poll?
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_delete_poll" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="admin_delete_poll" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--End User Admin Polls.html-->
