<p id="response_description">You are able to add and delete user responmses!</p>
<table id="response_table" class="transparent">
	<thead>
		<tr>
			<th>ID</th>
			<th>User Id</th>
			<th>Poll Id</th>
			<th>Number of Voted</th>
			<th>Date Posted</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for response in responses %}
		<tr id={{ response.id }}>
			<td>{{response.id}}</td>
			<td>{{response.user_id}}</td>
			<td>{{response.category_id}}</td>
			<td>{{response.pool_id}}</td>
			<td>{{response.date_posted}}</td>
			<td>
				<button type="button" class="btn btn-light" data-toggle="modal" data-target="#add_response"><i class="fa fa-plus"></i></button>
				<button type="button" class="btn btn-light a_d_u" data-toggle="modal" data-target="#delete_response"><i class="fa fa-minus"></i></button>
				<!-- <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-edit"></i></button> -->
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>