{% extends 'base.html' %}

{% block extraCss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_admin.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock extraCss %}

{% block heasExtraScript %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock heasExtraScript %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
<div class="container">
	<h1>Hello Admin</h1>
</div>
<div style="min-height:100vh;">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="true">User</a>
					<a class="nav-link" id="v-pills-Category-tab" data-toggle="pill" href="#v-pills-Category" role="tab" aria-controls="v-pills-Category" aria-selected="false">Category</a>
					<a class="nav-link" id="v-pills-poll-tab" data-toggle="pill" href="#v-pills-Poll" role="tab" aria-controls="v-pills-Poll" aria-selected="false">Polls</a>
					<a class="nav-link" id="v-pills-response-tab" data-toggle="pill" href="#v-pills-response" role="tab" aria-controls="v-pills-response" aria-selected="false">Response</a>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active " id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
						{% include 'user-admin/users.html' %}
					</div>
					<div class="tab-pane fade" id="v-pills-Category" role="tabpanel" aria-labelledby="v-pills-Category-tab">
						{% include 'user-admin/category.html' %}
					</div>
					<div class="tab-pane fade" id="v-pills-Poll" role="tabpanel" aria-labelledby="v-pills-Poll-tab">
						{% include 'user-admin/polls.html' %}
					</div>
					<div class="tab-pane fade" id="v-pills-response" role="tabpanel" aria-labelledby="v-pills-response-tab">
						{% include 'user-admin/responses.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block extraScript %}
{% if data.form_checking %}
<script type="text/javascript">
	function formModal(form) {
		if (form.localeCompare('user_form') == 0) {
			$('#add_user').modal('show');
		}
		if (form.localeCompare('category_form') == 0) {
			$('#add_category').modal('show');
			$('#v-pills-Category-tab').tab('show');
		}
		if (form.localeCompare('poll_form') == 0) {
			$('#add_poll').modal('show');
			$('#v-pills-poll-tab').tab('show');
		}
	}
	formModal('{{ data.form }}');
</script>
{% endif %}
<script src="{{url_for('static', filename='js/user_admin.js')}}"></script>
<script src="{{url_for('static', filename='js/register.js')}}"></script>
{% endblock extraScript %}
