{% extends 'base.html' %}
{% block extraCss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/polls.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper/swiper.min.css') }}">
{% endblock extraCss %}
{% block title %}polls{% endblock title %}
{% block content %}
<div style="min-height:100vh">
	<h1 style="text-align:center;margin-top:20px;">
		<span class="press">P</span>
		<span class="press">O</span>
		<span class="press">L</span>
		<span class="press">L</span>
		<span class="press">I</span>
		<span class="press">N</span>
		<span class="press">G</span>
		<span class="press vert-move">.</span>
		<span class="press vert-move">.</span>
		<span class="press vert-move">.</span>
	</h1>
	<div class="swiper-container mb-3 mt-3">
		<div class="swiper-wrapper">
			{%for data in databases%}
			<div class="swiper-slide">
				<div class="card card-border">
					<div class="card-top-img">
						<img class="card-author-img" src="static/image/category/{{data[0].image_file}}" alt="Ed" />
					</div>
					{% if not data[3] %}
					<div class="card-status text-danger">Vote your favorite {{data[0].name}}</div>
					{% else %}
					<div class="card-status text-success">You have voted</div>
					{% endif %}
					<div class="card-name">{{data[0].name}}</div>
					<div class="card-description">
						{{data[0].description}}
					</div>
					<div class="container-fluid">
						<div class="row music-infos" style="color: white">
							<div class="col-4 border-right">
								<div class="infos">{{data[2]}}</div>
								<div class="info-name">#VOTES</div>
							</div>
							<div class="col-4 border-right">
								<div class="infos">{{ data[0].end_date.strftime("%m/%d/%Y") }}</div>
								<div class="info-name">END DATE</div>
							</div>
							<div class="col-4">
								<div class="info-vote">
									{% if data[3] %}
									<h5 class="text-warning centered">Voted</h5>
									{% elif not data[3]%}
									<button type="button" class="btn btn-link text-white centered info-name" data-toggle="modal" data-target="#{{data[0].name}}">
										TAKE VOTE
									</button>
									{% endif %}
								</div>
							</div>
						</div>
					</div><!-- grid system-->
				</div>
			</div>
			{%endfor%}
		</div>
		<div class="swiper-button-prev hide"></div>
		<div class="swiper-button-next hide"></div>
	</div>

	{%for data in databases%}
	<!-- Modal -->
	<div class="modal fade" id="{{data[0].name}}" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none">
					<h5 class="modal-title">Polling</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;</span>
					</button>
				</div>
				<div class="modal-body phone-modal">
					<div class="head">
						<div class="poll-title row">
							<img class="icon-style" src="../../static/image/polls/computer.png" alt=">>" />
							Best {{data[0].name}} poll
						</div>
						<div class="poll-description" dir="auto">
							<div class="poll-title row">
								<img class="icon-style" src="../../static/image/polls/text-align.png" alt=">>" />
								Description
							</div>
						</div>
						<div class="row">
							<ul class="vote-rules">
								<li>First Past the Post Voting</li>
								<li>How it's works<ul>
										<li>Voters indicate on the ballot the movie that you most favourite</li>
										<li>The candidate who receives the most votes wins</li>
										<li>Sometimes described as winner takes all</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="poll-title">Optional</div>
						<ul>
							<li>There a button to watch the recipe</li>
						</ul>
						<div class="row poll-title">
							<img class="icon-style" height="34" width="52" src="../../static/image/polls/polls.png" alt=">>" />
							Ballot Options
						</div>
					</div>

					{%for poll in data[1]%}
					<div class="row poll-box">
						<div class="card mb-3 movie-container">
							<div class="row no-gutters">
								<div class="col-3">
									<img class="movie-media" src="static/image/polls/{{poll.image_file}}" alt="..." style="width:95%">
								</div>
								<div class="col-9">
									<div class="card-body" style="padding: 10px">
										<h5 class="card-title text-dark">{{poll.name}}</h5>
										{% if current_user.is_active %}
										<button class="btn vote" id="{{poll.id}}" type="button">
											Vote me
										</button>
										{%else%}
										<a class="login vote" href="{{ url_for('users.login') }}">Login</a>
										{%endif%}
										<div class="poll-describe">
											<h6 class="text-secondary">
												{{poll.description}}
											</h6>
										</div>
										<a class="youtube" data-toggle="modal" href="#{{data[0].name}}{{poll.id}}">
											<img class="youtube-media" src="{{ url_for('static', filename='image/polls/play.png') }}" alt="YouTube" id="{{poll.video_url}}">
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade" id="{{data[0].name}}{{poll.id}}">
						</div>
					</div>
					{%endfor%}
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{%endfor%}
	<div class="modal fade" id="successModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content success-box">
				<div class="color-icon green-icon">
					<span class="green-tick"></span>
				</div>
				<h1 class="success-h1">Success!</h1>
				<p class="success-p">We've processed your vote into system
					<br>go to account to verify.</p>
				<button type="button" class="color-btn success-btn">Go->Back</button>
				<span class="success-span"> Go to main page to see current result--></span>
			</div>
		</div>
	</div>

	<div class="modal fade" id="failModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content success-box">
				<div class="color-icon red-icon">
					<span class="red-cross"></span>
				</div>
				<h1 class="success-h1">=.=!</h1>
				<p class="success-p">Ops, Somthing is wrong
					<br>Try Again later or contact Admin.
					<br>admin-example@gmail.com
				</p>
				<button type="button" class="color-btn failure-btn">Go->Home</button>
				<span class="success-span"> Unknow failure, sorry for the inconvenience--></span>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirmModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content confrim-box p-5">
				<h1 style="margin-top:0;font-size:1.6em;letter-spacing:normal;">YOU ARE TRYING TO VOTE</h1>
				<p class="success-p p-2">
					You have clicked voting<br>
					Becarefull your choice<br>
					After voting you can delete in your account page
				</p>
				<div class="pt-2" style="right:0;margin-bottom: 20px">
					<button type="button" class="btn btn-light dismiss-btn" style="color:#FF6666;border-radius:20px">
						DISMISS
					</button>
					<button type="button" class="agree-btn">AGREE</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block extraScript %}
<script src="{{url_for('static', filename='js/polls.js')}}"></script>
<script src="{{url_for('static', filename='js/swiper/swiper.min.js')}}"></script>
{% endblock extraScript %}
