{% extends 'base.html' %}
{% block extraCss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock extraCss %}
{%block content%}

{% for category in categorys%}
<div class='container chart-border'>
	<div class="row d-flex justify-content-center">
		<div class="col-md-9 pb-5 pt-5" >
			<h2>How {{category.name}} rank is going</h2>
			<h6 class="text-black-50">How Musics rank is going</h6>
			<canvas class='transparent' id="bar-chart{{category.id}}"></canvas>
			<canvas class='transparent ' id="line-chart{{category.id}}"></canvas>
			<button class='overview btn btn-outline-success' id="{{category.id}}">Overview</button>
			<button class='elaborate btn btn-outline-info' id="{{category.id}}">Elaborate</button>
		</div>
	</div>
</div>
{%endfor%}
{% endblock content %}
{% block extraScript %}
<script type="text/javascript" src="{{url_for('static', filename='js/chart/Chart.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/rank.js')}}"></script>
{% endblock extraScript %}
