{% extends 'base.html' %}

{% block extraCss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/polls.css') }}">
{% endblock extraCss %}


{% block title %} {{ title }} {% endblock title %}
{% block content %}

<div class="page">
	<p class="text-center font-weight-bold text-muted font-italic" id="page-header">Current Polls</p>
	<div class="menu" id="menu">

		<div class="item item1" style="z-index:3;">
			<span class="title text-body">
				MUSIC
			</span>
			<div class="submenu submenu1">
				<ul>
					<li class="content_1">About</li>
					<li class="content_2" href="#">Take A poll</li>
				</ul>
			</div>
		</div>

		<div class="item item2" style="z-index:2;">
			<span class="title text-body">
				MOVIE
			</span>
			<div class="submenu submenu2">
				<ul>
					<li class="content_3">About</li>
					<li class="content_4" href="#">Take A poll</li>
				</ul>
			</div>
		</div>
		<div class="item item3" style="z-index:1;">
			<span class="title text-body" id="title">
				RECIPE
			</span>
			<div class="submenu submenu3">
				<ul>
					<li class="content_5">About</li>
					<li class="content_6" href="#">Take A poll</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<span class="back" id="back">&lt;&lt; Go back</span>
	<div class="content_1">
		<h1>INFO</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus
			autem consectetur voluptate facere at, omnis ab optio placeat officiis!
			Animi modi harum enim quia veniam consectetur unde autem inventore.
		</p>
	</div>
	<div class="content_3">
		<h1>INFO</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus
			autem consectetur voluptate facere at, omnis ab optio placeat officiis!
			Animi modi harum enim quia veniam consectetur unde autem inventore.
		</p>
	</div>
	<div class="content_4">
		<h1>INFO</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus
			autem consectetur voluptate facere at, omnis ab optio placeat officiis!
			Animi modi harum enim quia veniam consectetur unde autem inventore.
		</p>
	</div>
</div>

<div class="info-page">
	<div class="container">
		<div class="row">
			<div class="col-3">
				Current votes :
			</div>
			<div class="col-9" id="votes">
				999
			</div>
		</div>

	</div>
	<div class="container">
		<div class="col-3">
			Season ends :
		</div>
		<div class="col-9" id="time">
			10 days
		</div>
	</div>
</div>

{% endblock content %}
{% block extraScript %}
<script type="text/javascript" src="{{url_for('static', filename='js/polls.js')}}"></script>
{% endblock extraScript %}
