{% extends 'base.html' %}

{% block extraCss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock extraCss %}

{% block title %} {{ current_user.firstname }} {% endblock title %}
{% block content %}
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="col form-group">
            {{ form.odd_password.label() }}
            {% if form.odd_password.errors %}
            {{ form.odd_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.odd_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.odd_password(class="form-control") }}
            {% endif %}

        </div> <!-- form-group end.// -->

        <div class="col form-group">
            {{ form.password.label() }}
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control") }}
            {% endif %}
        </div> <!-- form-group end.// -->

        <div class="col form-group">
            {{ form.confirm_password.label() }}
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.confirm_password(class="form-control") }}
            {% endif %}
        </div> <!-- form-group end.// -->
        <div class="form-group">
            {{ form.reset_password(class="btn btn-primary btn-block") }}
        </div> <!-- form-group// -->
    </form>
</div>
{% endblock content %}
{% block extraScript %} <script type="text/javascript" src="{{url_for('static', filename='js/account.js')}}"></script> {% endblock extraScript %}
